extends ../layouts/common
block content
  h1 
    span.mr-3 Book List
    a.btn.btn-primary(href="/books/create") Create new book
  .row
    each book in books
      .col-sm-6.col-md-4.col-lg-3
        .carb.mb-3
          img.card-img-top(src=book.image)
          .card-body
            h5.card-title= book.title
            p.card-text= book.description
            a.btn.btn-primary(href='/cart/add/' + book.id) Add to cart
            div.mt-2
              a.btn.btn-light(href="/books/" + book.id +"/delete") Delete   
              a.btn.btn-light.ml-2(href="/books/" + book.id +"/update") Update


          
  nav
    mixin pageItem(number)
      if(number === 0 )
        li.page-item.active
            a.page-link(href="books?page="+ (currentPage + number)) #{currentPage + number}
      else
         li.page-item
            a.page-link(href="books?page="+ (currentPage + number)) #{currentPage + number}
    mixin lastPageItem(number)
      if((pages - number) === currentPage )
        li.page-item.active
            a.page-link(href="books?page="+ (pages - number)) #{pages - number}
      else
        li.page-item
          a.page-link(href="books?page="+ (pages - number)) #{pages - number}
    mixin nextprevBtn(condition = 1, name = 'Previous', value = 1) 
      if currentPage === condition
          li.page-item.disabled
            a.page-link(href="#" )= name
      else
        li.page-item
          a.page-link(href="books?page="+ ( currentPage - value))= name
          
    ul.pagination.justify-content-center
      +nextprevBtn()
      if(currentPage < pages - 2)
        if(currentPage === 1)
          +pageItem(0)
          +pageItem(1)
          +pageItem(2)
        else
          +pageItem(-1)
          +pageItem(0)
          +pageItem(1)
        li.page-item.disabled
          a.page-link(href="#") ...
        li.page-item
          a.page-link(href="books?page="+ pages) #{pages}
      else if(currentPage > 3)
        li.page-item
          a.page-link(href="books?page="+ 1) 1
        li.page-item.disabled
          a.page-link(href="#") ...
        if(currentPage >= pages - 2)
          +lastPageItem(2)
          +lastPageItem(1)
          +lastPageItem(0)

      +nextprevBtn(pages,'Next',-1)    
